<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>926924551340-ckej3kmdhs7a7ha2cg0inhpuqdqtnpso.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.926924551340-ckej3kmdhs7a7ha2cg0inhpuqdqtnpso</string>
	<key>API_KEY</key>
	<string>AIzaSyAGE4kUDjK59qyGuM59z-uMnKKEt6ipw9o</string>
	<key>GCM_SENDER_ID</key>
	<string>926924551340</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>org.reactjs.native.example.nexus</string>
	<key>PROJECT_ID</key>
	<string>interlinked-5b77a</string>
	<key>STORAGE_BUCKET</key>
	<string>interlinked-5b77a.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:926924551340:ios:75cea586ac8b929d0b1b09</string>
</dict>
</plist>